name: Android CI
on:
  push:
    branches:
      - "main"
      - "feature"

  pull_request:
    branches:
      - "main"
      - "feature"
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
         distribution: 'temurin'
         java-version: 17

      - name: Decode into app/google-services.json
        run: |
          echo "${{ secrets.GOOGLE_SERVICES_JSON }}"  > app/google-services.json

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build project
        run: ./gradlew build

